<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
    <link href="/css/blog-post.css" rel="stylesheet">


  </head>

  <body>

   {{!-- Nav --}}
        {{> home/nav }}
   {{!--  --}}



    <!-- Page Content -->
    <div class="container">
           



        {{!-- Dynamic content --}}
              {{{body}}}
        {{!--  --}}
     
    </div>
    <!-- /.container -->

    
    {{!-- Footer --}}
        {{> home/footer }}
    {{!--  --}}

   

  </body>

</html>
