<h3>Edit Post</h3>

<div class="card ">
    <div class="card-header">Edit a post by filling this form....</div>
      <div class="card-body">
            <form method="post" id="edit-post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">Title</label>
                            <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter Post Title">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Sub-Title</label>
                            <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter Sub-Title">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">Category</label>
                            <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter Post Category">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Author</label>
                            <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter Author">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="textarea">Content</label>
                            <textarea name="" class="form-control" id="textarea" cols="30" rows="10"></textarea>
                        </div>
                    </div>                  
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Publish Post</button>
                </div>


            </form>
        </div>
    </div>
</div>

