<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
        </span>
        </div>
    </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
        <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled mb-0">
                {{#each categories}}
            <li>
                <a href="/home/cat/{{id}}">{{title}}</a>
            </li>

            {{/each}}
            
            </ul>
        </div>
        </div>
    </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
    <h5 class="card-header">Side Widget</h5>
    <div class="card-body">
        This is yet another little stuff by <a href="https://atuoha.github.io">Atutechs Corp</a>. It's a dynamic CMS template using node, express and some other cool modules.
    </div>
    </div>

</div>